<div ng-controller="infoController">

	<div class="search-form">
			<h1 class="text-center">Search</h1>
			<%= render 'search_form' %>
	</div>


	<div class="new-bc-form hide">
		<h1 class="text-center">Enter New BC</h1>
		<%= render 'new_bc_form' %>
		<div class="similar-products"></div>
	</div>

</div>

<br>
<br>
